#post_form {
    margin: 0 auto; /* Center form within viewport */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 300px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.9);
    opacity: 0.89;
}

.create_input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: -10px;

}

button[type='submit'] {
    display: block; /* Makes button occupy a full line */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #203be3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.3s;
}

button[type='submit']:hover {
    opacity: 1;
    background-color: #0022fc;
}

#notification {
    margin-top: -40px;
    font: 20px;
    color: red;
    text-align: center;
    font-weight: normal;
    width: 100px    ;
}

a {
    text-decoration: none;
    color: #203be3;
  }

a:hover {
    color: #000;
  }

input::placeholder {
    font-weight: bold;
    color: #000;
    opacity: 0.2;
  }